
<section class="about-section">

    <div class="about-content">
        <!-- Colonne gauche : Informations personnelles -->
        <div class="personal-info">
            <h3 class="gradient-text">
                <img src="assets/icons/ampoule.png" alt="Ampoule"
                    style="width:30px; height:30px; vertical-align:middle; margin-right:8px;margin-top: -9px;">
                Informations personnelles
            </h3>
            <p><strong>Nom :</strong> Salim Brahem</p>
            <p><strong>Niveau d’études :</strong> 3ᵉ année cycle d’ingénieur (Bac+5)</p>
            <p><strong>Date de naissance :</strong> 15.01.2003</p>
            <p><strong>Ville :</strong> Ariana, Tunisie</p>
            <p><strong>Email : </strong> <a
                    href="mailto:salim.brahem.dev&#64;gmail.com">salim.brahem.dev&#64;gmail.com</a></p>
            <p><strong>Téléphone :</strong> +216 97 104 456</p>
        </div>

        <!-- Colonne droite : Présentation -->
        <div class="description">
            <p>
                Bonjour ! Je suis Salim Brahem, étudiant en génie logiciel et passionné par l’univers digital. Mon
                parcours m’a permis d’explorer plusieurs facettes de la création numérique : <strong>développement
                    full-stack, design UI/UX, marketing digital, community management et branding.</strong>
            </p>
            <p>
                J’aime imaginer, concevoir et réaliser des solutions qui allient performance technique, expérience
                utilisateur et impact visuel.
            </p>
        </div>
    </div>
</section>

