<section class="highlights">
  <!-- Texte dynamique qui fade-in -->
  <div class="content" *ngIf="photos.length" [@fadeIn]="currentIndex">
    <h3 class="subtitle">{{ photos[currentIndex].title }}</h3>
    <h1 class="title">{{ photos[currentIndex].alt }}</h1>
    <p class="date">{{ photos[currentIndex].date }}</p>
    <p class="description">
      {{ photos[currentIndex].description }}
    </p>
  </div>

  <!-- Carousel -->
  <div class="carousel">
    <div class="carousel-track">
      <div
        class="carousel-item"
        *ngFor="let photo of visiblePhotos; let i = index"
        [ngClass]="{ big: i === 0, small: i === 1 }"
        (click)="openLightbox(photo.url)"
      >
        <img [src]="photo.url" [alt]="photo.alt" />
      </div>
    </div>

    <!-- Boutons navigation -->
    <button class="nav-btn left" (click)="prev()">
      <i class="ri-arrow-left-fill"></i>
    </button>
    <button class="nav-btn right" (click)="next()">
      <i class="ri-arrow-right-fill"></i>
    </button>
  </div>
</section>

<!-- Lightbox -->
<div class="lightbox" *ngIf="lightboxImage" (click)="closeLightbox()">
  <span class="close" (click)="closeLightbox($event)">
    <i class="bi bi-x"></i>
  </span>
  <img [src]="lightboxImage" alt="Zoom" />
</div>
