<body>


<div id="header">

    <div id="socials">

            <a href="#"><img src="assets/icons/linkedin.png" alt=""></a>
            <a href="#"><img src="assets/icons/github.png" alt=""></a>
            <a href="#"><img src="assets/icons/behance.png" alt=""></a>
            <a href="#"><img src="assets/icons/facebook.png" alt=""></a>
        </div>


      <app-custom-button>Télécharger le CV</app-custom-button>

</div>



    <div class="intro">

        <div class="socials">
            <div style="width: 1.7px; height: 68px; margin-left: 14px;margin-bottom: 10px; background-color: var(--text-color);"></div>

            <a href="#"><img src="assets/icons/linkedin.png" alt=""></a>
            <a href="#"><img src="assets/icons/github.png" alt=""></a>
            <a href="#"><img src="assets/icons/behance.png" alt=""></a>
            <a href="#"><img src="assets/icons/facebook.png" alt=""></a>
        </div>

        <div class="fullstack">
            <h1 class="gradient-text">FULLSTACK </h1>
            <h1>DEVELOPER</h1>

        </div>

    </div>




<div class="intro2">

    <img id="photo1" src="assets/photos/photo.png" alt="" >

<p>
  Entre code, design et stratégie digitale, je mets à votre service un profil polyvalent :
  <strong>développement full-stack, UI/UX, marketing et management</strong>
  pour donner vie à des projets innovants et performants.
</p>

<img  id="photo2" src="assets/photos/photo.png" alt="" >
</div>

</body>