.my-btn {
  background: var(--gradiant);
  color: #1b1b1b;
  font-family: var(--ssfalling);
  font-size: 19px;
  font-weight: 550;
  border: none;
  border-radius: 25px;
  padding: 16px 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: inset 0 0px 8px rgba(2, 2, 2, 0.5);
}

.my-btn:hover {
  transform:  scale(1.02);
}

.my-btn:active {
    transform: scale(0.98); 
  }

  