

.custom-cursor {
  width: 8px; /* Cercle principal plus petit */
  height: 8px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%); /* Centrer sur la souris */
  transition: all 0.1s ease; /* Mouvement fluide */
}

.background-circle {
  width: 18px; /* Cercle en arrière-plan plus grand */
  height: 18px;
  background-color:transparent; /* Couleur plus claire et transparente */
  border: 2px solid var(--text-color);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9998; /* En dessous du cercle principal */
  transform: translate(-50%, -50%);
  transition: all 0.3s ease; /* Transition plus lente pour l'effet de traînée */
}
