<body>
    <app-mouse-effect></app-mouse-effect>


<div class="rand-container">




  <div id="socials">

            <a href="#"><img src="assets/icons/linkedin.png" alt=""></a>
            <a href="#"><img src="assets/icons/github.png" alt=""></a>
            <a href="#"><img src="assets/icons/behance.png" alt=""></a>
            <a href="#"><img src="assets/icons/facebook.png" alt=""></a>
        </div>
        

   <!-- Checkbox pour toggle le menu mobile -->
  <input type="checkbox" id="overlay-input" />
  <label for="overlay-input" id="overlay-button"><span></span></label>

  <!-- Menu overlay pour mobile -->
  <div id="overlay">
    <ul>
      <li><a href="#a-propos">À propos</a></li>
      <li><a href="#competences">Compétences</a></li>
      <li><a href="#experience">Expérience</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </div>

  <nav>
  <div class="nav-links">
    <a href="#a-propos">À propos</a>
    <a href="#competences">Compétences</a>
    <a href="#experience">Expérience</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contacts">Contacts</a>
  </div>

  <app-custom-button id="download-cv">Télécharger le CV</app-custom-button>
</nav>



    
</div>



<div class="rand-container">

    <app-home></app-home>
</div>

<app-boucle></app-boucle>


    <section id="a-propos"  class="rand-container">

    <app-about></app-about>
    </section>


    
    <section id="competences">

    </section>

    <section id="experience">

    </section>

    <section id="portfolio">

    </section>

    <section id="contacts">

    </section>












    <router-outlet></router-outlet>
</body>