/* Base */
.title-with-line {
  position: relative;
  display: flex;
  align-items: center;
}

/* Trait après le texte → align = left */
.about-section.left .title-with-line {
  justify-content: flex-start;
}
.about-section.left .title-with-line::after {
  content: '';
  flex: 1;
  height: 1.3px;
  background: #ffffff;
  margin-left: 70px;
}

/* Trait avant le texte → align = right */
.about-section.right .title-with-line {
  justify-content: flex-end;
}
.about-section.right .title-with-line::before {
  content: '';
  flex: 1;
  height: 1.3px;
  background: #ffffff;
  margin-right: 70px;
}

/* Gradient text */
.gradient {
  position: relative;
  margin-top: -125px;
  background: var(--gradiant);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  width: fit-content;
}

/* Gradient alignement */
.about-section.left .gradient {
  margin-left: 0;
  margin-right: auto;
}
.about-section.right .gradient {
  margin-left: auto;
  margin-right: 0;
}

/* Titres */
.about-section h2 {
  font-size: 72px;
  font-weight: 600;
  font-family: var(--font-ssfalling);
  letter-spacing: 6px;
  margin-bottom: 40px;
  background: var(--gradiant);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Contenu */
.about-content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Responsive */
@media (max-width: 550px) {
  .title-with-line {
    display: none;
  }

  .gradient {
    margin-top: 50px;
    font-size: 60px; /* corrigé, au lieu de 5px */
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .about-section h2 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
