/* Conteneur global */
.timeline {
  display: flex;
  flex-direction: column;
  background: #000; /* fond noir */
  padding-top: 10px ;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Élément */
.timeline-item {
  display: grid;
  grid-template-columns: 1fr 60px 2fr; /* gauche | ligne | droite */
  align-items: flex-start;
  margin-bottom: 4rem;
}


/* Colonne gauche */
.timeline-left h2 {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
    margin-bottom: .8rem;
    font-family: var(--font-ssfalling);
    letter-spacing: 1.5px;
}
.timeline-left p {
  font-size: 1.125rem;
  margin: 0.3rem 0;
  color: #ddd;
}

/* Ligne + point */
.timeline-marker {
  position: relative;
  width: 40px; /* largeur fixe pour centrer */
  display: flex;
  justify-content: center;
}


.timeline-marker .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #ccc;
  background: var(--gradiant); /* point clair */
  z-index: 2;
}
.timeline-marker .line {
  width: 3px;
  background: #ccc;
}

/* Colonne droite */
.timeline-right h2 {
  font-weight: bold;
  font-size: 1.2rem;
   margin: 0;      /* supprime tous les marges */
  padding: 0;     /* supprime tout padding interne */
    margin-bottom: 0.5rem;

  font-size: 1.5rem;
  
    font-family: var(--font-ssfalling);
    letter-spacing: 1.5px;
}


.timeline-right .description,.timeline-right .extra {
  font-size: 1.3125rem;
  line-height: 1.5;
  color: #fff;
  white-space: pre-line;
}

.timeline-right .extra { 
    margin-top: -15px;
}

.extra .label {
    
  text-decoration: underline;
  font-weight: 600; /* medium */
}

/* Responsive */
@media (max-width: 768px) {
  .timeline-item {
    grid-template-columns: 1fr;
  }
  .timeline-marker {
    display: none; /* cacher ligne et point sur mobile */
  }
  .timeline-left, .timeline-right {
    margin-bottom: 1rem;
  }
}
